h1 {
  margin: auto;
  text-align: center;
}

table {
  margin: 10px auto;
}

td {
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.horizontal {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
